.login-form{
    width: 380px;
    align-self: center;
    text-align: center;
}

.input-icon{
    position: absolute; 
    width: 20px;
    right: 10px; 
    top: 24px; 
    cursor: pointer;
}
.input-info{
    top: -42px;
    right: -340px;
    border-radius: 10px;
    background-color: white;
    text-align: left;
}
