<div class="page-wrapper flex flex-col"
     style="background-image:url(../../assets/pictures/main-background.jpg);">
    <div class="flex flex-1">
        <div class="row"></div>
        <div class="fancy-left navbar">
            <div style="padding: 12px; height: 626px;">
                <div class="full-height flex flex-col">
                    <div class="flex">
                        <div class="r-icon nav-custom">
                            <i class="fa-solid fa-angle-right" style="align-self: center;"></i>
                        </div>
                    </div>
                    <div class="flex flex-col gap-5 scrollable" style="padding: 10px 0px;">
                        <a class="flex-col center gap-075">
                            <div class="nav-r-icon">
                                <i class="largerMed fa-solid fa-heart-circle-plus"></i>
                            </div>
                            <div>
                                Chuyển tiền từ thiện
                            </div>
                        </a>
                        <a class="flex-col center gap-075">
                            <div class="nav-r-icon">
                                <i class="largerMed fa-solid fa-money-bill-transfer"></i>
                            </div>
                            <div>
                                Chuyển tiền trong nước
                            </div>
                        </a>
                        <a class="flex-col center gap-075">
                            <div class="nav-r-icon">
                                <i class="largerMed fa-solid fa-address-card"></i>
                            </div>
                            <div>
                                Quản lý nhóm
                            </div>
                        </a>
                        <a class="flex-col center gap-075">
                            <div class="nav-r-icon">
                                <i class="largerMed fa-solid fa-piggy-bank"></i>
                            </div>
                            <div>
                                Mở tiết kiệm
                            </div>
                        </a>
                        <a class="flex-col center gap-075">
                            <div class="nav-r-icon">
                                <i class="largerMed fa-solid fa-lightbulb"></i>
                            </div>
                            <div>
                                Tiền điện
                            </div>
                        </a>
                        <a class="flex-col center gap-075">
                            <div class="nav-r-icon">
                                <i class="largerMed fa-solid fa-credit-card"></i>
                            </div>
                            <div>
                                Phát hành thẻ ghi nợ
                            </div>
                        </a>
                        <a class="flex-col center gap-075">
                            <div class="nav-r-icon">
                                <i class="largerMed fa-solid fa-magnifying-glass-dollar"></i>
                            </div>
                            <div>
                                Tra soát trực tuyến
                            </div>
                        </a>
                        <a class="flex-col center gap-075">
                            <div class="nav-r-icon">
                                <i class="largerMed fa-solid fa-wallet"></i>
                            </div>
                            <div>
                                Nạp tiền ví điện tử
                            </div>
                        </a>
                        <a class="flex-col center gap-075">
                            <div class="nav-r-icon">
                                <i class="largerMed fa-solid fa-key"></i>
                            </div>
                            <div>
                                Cài đặt phương thức xác thực
                            </div>
                        </a>
                    </div>
                    <i class="fa-solid fa-sort-down" style="visibility: hidden;"></i>
                    <div class="center">
                        <i class="fa-solid fa-spa"></i>
                        <span>Tùy chỉnh</span>
                    </div>
                </div>
            </div>      
        </div>
    </div>
    <div class="flex flex-center gap-4 footer">
        <a class="padding-4">Điều khoảng sử dụng dịch vụ</a>
        <a class="padding-4">Biểu phí dịch vụ</a>
        <a class="padding-4">Hướng dẫn sử dụng dịch vụ</a>
        <a class="padding-4">Hướng dẫn giao dịch an toàn</a>
    </div>
</div>