<div class="page-wrapper full-height" style="background-image:url(../../assets/pictures/main-background.jpg);">
    <div class="full-height tranparent flex flex-col">
        <div class="page-content2">
            <div class="row">
                <h2>Chuyển tiền trong nước</h2>
                <div class="green row" style="padding: 5px 0px;">
                    Trang chủ > chuyển tiền > chuyển tiền trong nước
                </div>
            </div>
            <div class="med flex flex-col gap-075">
                <div style="margin: 16px 0px;">
                    Bước 2: xác nhận giao dịch
                </div>
                <div class="fancy box-content padding-5">
                    <div class="flex flex-col gap-6">
                        <div class="row">
                            Quý khách vui lòng <b>kiểm tra và xác nhận</b> thông tin giao dịch
                        </div>
                        <div class="grid grid-3">
                            <div class="col-1-1">Tài khoản nguồn</div>
                            <div class="col-2-2 left-text">
                                {{rootAccount}}
                            </div>
                        </div>
                        <div class="grid grid-3">
                            <div class="col-1-1">Ngân hàng nhận</div>
                            <div class="col-2-2 left-text">
                                {{bankName}}
                            </div>
                        </div>
                        <div class="grid grid-3">
                            <div class="col-1-1">Tên người nhận</div>
                            <div class="col-2-2 left-text">
                                {{receiverName}}
                            </div>
                        </div>
                        <div class="grid grid-3">
                            <div class="col-1-1">Tài khoản/Thẻ nhận</div>
                            <div class="col-2-2 left-text">
                                {{receiverAccount}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fancy box-content padding-5">
                    <div class="flex flex-col gap-6">
                        <div class="grid grid-3">
                            <div class="col-1-1">Phí giao dịch</div>
                            <div class="col-2-2 left-text">
                                {{transferFee}}
                            </div>
                        </div>
                        <div class="grid grid-3">
                            <div class="col-1-1">Số tiền</div>
                            <div class="col-2-2 left-text">
                                {{receivedMoney}}
                            </div>
                        </div>
                        <div class="grid grid-3">
                            <div class="col-1-1">Nội dung</div>
                            <div class="col-2-2 left-text">
                                {{context}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fancy box-content padding-5">
                    <div class="flex flex-col gap-6">
                        <div class="grid grid-3">
                            <div class="col-1-1 center-h">Phương thức xác thực</div>
                            <div class="col-2-2">
                                <select class="row">
                                    <option selected> Không cần xác thực</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <button type="button" (click)="backToTransfer()" class="classic-btn">Quay lại</button>
                    <button type="button" (click)="toTransfer3()" class="classic-btn">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</div>