<div class="page-wrapper full-height" style="background-image:url(../../assets/pictures/main-background.jpg);">
    <div class="full-height tranparent">
        <div class="page-content">
            <div class="row" style="margin-bottom: 25px;">
                <h2>MỞ TIẾT KIỆM</h2>
                <div class="gray row">
                    Trang chủ > tiết kiệm > mở tiết kiệm
                </div>
            </div>
            <div class="grid grid-2 gap-5">
                <div class="fancy card-content">
                    <div class="flex full-height">
                        <div style="width: 43%;">
                            <div class="fancy-left page-wrapper full-height" style="background-image:url(../../assets/pictures/saving1-background.jpg);">
                                <div class="fading" style="width: 3rem; height: 100%; float: right;"></div>   
                            </div>  
                        </div>
                        <div class="flex-1 padding-4">
                            <div class="flex flex-col gap-4">
                                <div class="med green">Tiền gữi có kì hạn trực tuyến</div>
                                <div class="med">Gữi tiền online nhanh chóng, kỳ hạn lên tới 24 tháng</div>
                                <button class="card classic-btn" (click)="Clicked('loan1')">Mở ngay</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fancy card-content">
                    <div class="flex full-height">
                        <div style="width: 43%;">
                            <div class="fancy-left page-wrapper full-height" style="background-image:url(../../assets/pictures/saving2-background.jpg);">
                                <div class="fading" style="width: 3rem; height: 100%; float: right;"></div>   
                            </div> 
                        </div>
                        <div class="flex-1 padding-4">
                            <div class="flex flex-col gap-4">
                                <div class="med green">Tiền gữi rút gốc linh hoạt</div>
                                <div class="med">Rút tiền linh hoạt, tiếp tục hưởng lãi suất cho phần gốc còn lại được xác định tại đầu kì hạn</div>
                                <button class="card classic-btn">Mở ngay</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fancy card-content">
                    <div class="flex full-height">
                        <div style="width: 43%;">
                            <div class="fancy-left page-wrapper full-height" style="background-image:url(../../assets/pictures/saving3-background.jpg);">
                                <div class="fading" style="width: 3rem; height: 100%; float: right;"></div>   
                            </div> 
                        </div>
                        <div class="flex-1 padding-4">
                            <div class="flex flex-col gap-4">
                                <div class="med green">Tiền gữi tích lũy trực tuyến</div>
                                <div class="med">Gữi thêm tiền định kì linh hoạt, dễ dàng đạt mục tiêu tài chính cá nhân</div>
                                <button class="card classic-btn">Mở ngay</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fancy card-content">
                    <div class="flex full-height">
                        <div style="width: 43%;">
                            <div class="fancy-left page-wrapper full-height" style="background-image:url(../../assets/pictures/saving4-background.jpg);">
                                <div class="fading" style="width: 3rem; height: 100%; float: right;"></div>   
                            </div> 
                        </div>
                        <div class="flex-1 padding-4">
                            <div class="flex flex-col gap-4">
                                <div class="med green">Tiền gữi cho con</div>
                                <div class="med">Gữi tiền tích lũy cho con với số tiền, thời gian tích lũy mục tiêu xác định</div>
                                <button class="card classic-btn">Mở ngay</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>