<div class="full-height page-wrapper" style="background-image:url(../../assets/pictures/main-background.jpg);">
    <div class="page-content">
        <div class="flex gap-5" style="height: 150px;align-items: center;">
            <div class="b-r-icon" style="background-image: url(../../assets/pictures/logo_kiwi.jpg);"></div>
            <div>
                <div style="color: rgb(225, 221, 221); font-size: 20px;">Chúc quý khách một ngày tốt lành:</div>
                <div style="font-weight: 600; font-size: large; padding-top: 10px;">THE KIWI</div>
            </div>
        </div>
        <div class="grid grid-auto-54 gap-5">
            <div class="full-height box">
                <div class="fancy box-content flex-1 padding-4">
                    <div class="flex flex-col full-height gap-4">
                        <div class="fancy card">
                            <div class="flex flex-col">
                                <div class="padding-4">
                                    <h3 style="margin-bottom: 20px;">Tài khoản mặc định</h3>
                                    <div class="row" style="padding: 5px 0px;">
                                        Số tài khoản
                                    </div>
                                    <div class="row" style="padding: 5px 0px;">
                                        Số dư
                                    </div>
                                </div>
                                <div class="grid grid-2 b-tranparent fancy-bottom">
                                    <a class="card-btn row">
                                        <i class="small fa-solid fa-clock-rotate-left"></i>
                                        <span>Lịch sử giao dịch</span>
                                    </a>
                                    <a class="card-btn row">
                                        <i class="small fa-solid fa-wallet"></i>
                                        <span>Tài khoản & thẻ</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <button class="classic-btn">
                            <i class="fa-solid fa-plus"></i>
                            <span class="med green">Mở tài khoản số chọn</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="full-height box">
                <div class="fancy box-content padding-4">
                    <div class="top flex">
                        <div class="flex-1 med"><b>Chức năng yêu thích</b></div>
                        <div style="padding-right: 10px;">Tùy chỉnh</div>
                        <i class="small fa-solid fa-right-left"></i>
                    </div>
                    <div style="margin-top: 20px;">
                        <div class="grid grid-3 gap-4">
                            <div class="flex flex-col center gap-075">
                                <i class="large fa-solid fa-heart-circle-plus"></i>
                                <div style="padding-top: 5px;">Chuyển tiền từ thiện</div>
                            </div>
                            <div class="flex flex-col center gap-075">
                                <i class="large fa-solid fa-money-bill-transfer"></i>
                                <div style="padding-top: 5px;">Chuyển tiền trong nước</div>
                            </div>
                            <div class="flex flex-col center gap-075">
                                <i class="large fa-solid fa-piggy-bank"></i>
                                <div style="padding-top: 5px;">Mở tiết kiệm</div>
                            </div>
                            <div class="flex flex-col center gap-075">
                                <i class="large fa-solid fa-mobile-screen"></i>
                                <div style="padding-top: 5px;">Nạp tiền điện thoại</div>
                            </div>
                            <div class="flex flex-col center gap-075">
                                <i class="large fa-solid fa-gear"></i>
                                <div style="padding-top: 5px;">Cài đặt hạn mức chuyển tiền</div>
                            </div>  
                            <div class="flex flex-col center gap-075">
                                <i class="large fa-solid fa-address-card"></i>
                                <div style="padding-top: 5px;">Quản lý nhóm</div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid gap-4" style="margin-top: 1rem; grid-template-columns: 40% 23% auto;">
            <div class="fancy box-content padding-4">
                <div class="flex flex-end gap-4">
                    <div id="spending-chart-placeholder" class="page-wrapper" style="background-image:url(../../assets/pictures/placeholder-chart-background.jpg);">
                    </div>
                    <div id="fit-row">
                        <div class="left-text">Chi tiêu so với tháng ...</div> 
                        <div class="large left-text" style="color: brown;">0%</div> 
                    </div>
                </div>
                <div class="flex flex-end" style="bottom: 0;">
                    <button class="classic-btn">Quản lý tài chính cá nhân</button>
                </div>
            </div>
            <div class="fancy page-wrapper full-height" style="background-image:url(../../assets/pictures/reward-background.jpg);">
                <div class="flex flex-col padding-4">
                    <div class="med">KWB Rewards</div> 
                    <div>Điểm tích lũy</div> 
                    <div class="large">0</div>
                    <button class="classic-btn">Đổi điểm ngay</button>  
                </div>
            </div>
            <div class="fancy page-wrapper full-height" style="background-image:url(../../assets/pictures/creditcard.jpg);">
                <div class="flex flex-col padding-4">
                    <div id="small-box">Miễn lãi 42 ngày, hoàn tiền chi tiêu lên đến 12%</div>
                    <button class="classic-btn">Khám phá ngay</button>
                </div>
            </div>
        </div>
        <div class="flex flex-end">
            <div class="box-content classic-btn">
                Cập nhật ngày: ...
            </div>
        </div>
        <div class="flex flex-col card-content">
            <div>Mới nhất trên Kiwi Bank</div>
            <div class="flex">
                <div class="flex-col">
                    <div>Quản lý nhóm</div>
                    <div>KWB Family</div>
                </div>
                <div class="flex-col">
                    <div class="page-wrapper" style="background-image: url(../../assets/pictures/freebn1.png);">
                        kiwi
                    </div>
                    <div class="">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <span>Điều khoản dịch vụ</span>
            <span>Biểu phí dịch vụ</span>
            <span>Hướng dẫn sử dụng dịch vụ</span>
            <span>hướng dẫn gia dịch an toàn</span>
        </div>
    </div>
</div>
